body {
    background-image: url("gravel.png");
}
.card-header {
    text-align: center;
}
#status{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.spacer {
    height: 25px;
    width: 100%;
    margin-top: 1em;
}
#gameField {
    width: 620px;
    height: 620px;
    margin: 0 auto;
    position: relative;
}
#background{
    width:620px;
    height: 620px;
    z-index:0;
    background-color: black;
    border-radius: 310px;
    position: absolute;
    top: 1em;
}
.gamecell{
    float: left;
    margin: 4px;
    width: 280px;
    height: 280px;
    border: 2px solid black;
    /*border-radius: 30px;*/
}
#center{
    background: black;
    border-radius: 125px;
    z-index: 10;
    position: absolute;
    top: 210px;
    left: 210px;
    width: 200px;
    height: 200px;
}
#centerText{
    color: white;
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 65px;
}

#green {
    border-top-left-radius: 300px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.green {
    background-color: darkgreen;
}
##green:active{
    background-color: lightgreen;
}
#red {
    display: inline-block;
    border-top-right-radius: 300px;
    position: absolute;
    top: 20px;
    left: 310px;
}
.red {
    background-color: darkred;
}
#red:active {
    background-color: red;
}
#yellow {
    border-bottom-left-radius: 300px;
    position: absolute;
    top: 310px;
    left: 20px;
}
.yellow {
    background-color: darkgoldenrod;
}
#yellow:active{
    background-color: yellow;
}
#blue {
    border-bottom-right-radius: 300px;
    position: absolute;
    top: 310px;
    left: 310px;
}
.blue {
    background-color: darkblue;
}
#blue:active{
    background-color: lightblue;
}
.green.active {
    background-color: lightgreen;
}
.red.active {
    background-color: red;
}
.yellow.active {
    background-color: yellow;
}
.blue.active {
    background-color: lightblue;
}
#scoreboard{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 2em;
}
.score {
    margin: 0 auto;
    width: 350px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin-top: 5px;
}
