.card-header {
    text-align: center;
}
.spacer {
    background-color: white;
    height: 50px;
    width: 100%;
}
#gameField {
    width: 620px;
    height: 620px;
    margin: 0 auto;
    text-align: justify;
}

.gamecell{
    margin: 4px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 30px;
}
#green {
    background-color: darkgreen;
    float: left;
}
#red {
    background-color: darkred;
    display: inline-block;
}
#yellow {
    background-color: darkgoldenrod;
    clear: left;
    float: left;
}
#blue {
    background-color: darkblue;
    float: left;
}
#green:active {
    background-color: lightgreen;
}
#red:active {
    background-color: red;
}
#yellow:active {
    background-color: yellow;
}
#blue:active {
    background-color: blue;
}
#scoreboard{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 2em;
}
.score {
    margin: 0 auto;
    width: 350px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin-top: 5px;
}
